.bigCard {
  border: 1px solid GREY;
  min-height: 59.5vh;
  background-color: rgba(73, 80, 87, 0.95);
  border-radius: 10px;
  position: relative;
}

.WeatherApp {
  margin: 3vh;
  white-space: nowrap; /* Предотвращает перенос слов */
  font-size: 2rem;
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 1px black, 2px 2px 1px black;
}

span.Weather {
  margin: 0;
  padding: 0;
}

span.App {
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

div.MainDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

p.cityName {
  font-size: 1.5rem;
  font-weight: 600;
}

p.weatherCurrentTemperature {
  font-size: 5rem;
  font-weight: 700;
}

p.currentDate {
}

p.currentTime {
}
